<nav class="top-0 z-[1010] sticky flex justify-between items-center bg-blue-600 px-5 sm:px-10 border-gray-100 border-b h-20">
    <div class="flex items-center">
        <a href="/user/widgets" class="font-bold text-white text-xl"
            style="font-family: 'Inter', system-ui, -apple-system, sans-serif;">Vizibble</a>
    </div>
    <div class="flex items-center space-x-4">
        <a href="/user/records" class="text-white hover:text-gray-200">Records</a>
    </div>
</nav>