<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBR | Admin Panel</title>
    <link rel="shortcut icon" href="/Images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/output.css">
    <!-- 1. agGrid script and styles -->
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    </style>
</head>

<body class="bg-gray-900 w-full h-full">
    <%- include('includes/navbar.ejs') %>
        <% if (locals.configs) { %>
            <main>
                <div class="relative shadow-md sm:rounded-lg overflow-x-auto">
                    <table class="w-full text-gray-400 text-left text-sm">
                        <thead class="bg-gray-700 text-gray-400 text-xs uppercase">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Number Plate
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tanker Name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Multiplication Factor
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    <span class="sr-only">
                                        Edit
                                    </span>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% configs.forEach(tanker=> { %>
                                <tr class="border-gray-700 bg-gray-800 hover:bg-gray-600">
                                    <th scope="row" class="px-6 py-4 font-medium text-white whitespace-nowrap">
                                        <%=tanker.number_plate%>
                                    </th>
                                    <td class="px-6 py-4">
                                        <input type="text"
                                            class="disabled:bg-transparent px-2 py-1 rounded-xl font-mono text-black disabled:text-gray-400 outline-none"
                                            value='<%=tanker.tanker_name%>' disabled required name='tanker_name'>
                                    </td>
                                    <td class="px-6 py-4">
                                        <input type="number"
                                            class="disabled:bg-transparent px-2 py-1 rounded-xl font-mono text-black disabled:text-gray-400 outline-none"
                                            value='<%=tanker.factor%>' disabled required name="factor">
                                    </td>
                                    <td class="text-right px-6 py-4">
                                        <button class="font-medium text-blue-500 hover:underline edit">
                                            Edit
                                        </button>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </main>
            <% } %>
</body>
<!-- 1. flowbite script -->
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
<script src="/JavaScript/admin-panel/index.js"></script>

</html>